 body{	
		margin-bottom: 10%;
		margin-top: 10%;
		margin-left: 15%;
		margin-right: 15%;
		}
	  h1{
		font-family: "Times New Roman", serif;
		color: #38761d;	
		}
	  h2{
		font-family: "Times New Roman", serif;
		font-size: 14px;
		color: #38761d;	 
		}
	  img{
		border-width: 4px;
		border-style: solid;
		border-color: lightgreen;
	  }
	  q{
		padding: 20px 40px 80px 5px;
		text-align: center;
	  }